
$purple: rgb(179, 62, 218);
$blue: #42b4d6;
$light-blue: rgba(96, 171, 218, 0.59);
$orange: #ea8b02;


body {
	font-family: lato;
}

.navbar-brand {
	padding: 0;
}

.nav-item > .nav-link {
	font-size: 1.7em;
}

h1 {
    font-size: 3rem;
    font-weight:300;
    position: absolute;
	padding: 100px 50px;
}

h1 > div {
	background-color: $light-blue;
	opacity:0;
	padding: 10px;
}

h1 > div:nth-child(3) {
    background-color: transparent;
    font-size: 0.7em;
    padding: 50px 0px 0px 0px !important;
}

h1 > div > a {
	color:black !important;
}

h1 > div > a:hover {
	color:$blue !important;
}

.container {
    max-width: 100%;
    margin:0; 
}

main > section:nth-child(2) > .container {
	background-color: $orange;
}

.container > .row > div {
	font-size: 1.7rem;
}

.banner-left {
	position:relative;
	background: url(../img/banner-main-left.jpg) fixed;
    min-height: 530px;
}

.banner-right {
	position:relative;
	background-color: $blue;
    min-height: 530px;
}

.card {
	border-radius:0px;
}

.card-img {
    filter: brightness(35%);
}

.showme {
	opacity:0;
}

footer > div {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.fa-arrow-circle-up {
    color: white;
}