$blue: #42B4D6;
$light-blue: rgb(222, 238, 248);
$dark-black: #0e121e;

body {
	font-family:  'Lato', sans-serif;
	font-weight: 300;
}

h1 {
    font-size: 3.5rem;
    font-weight:300;
    position: absolute;
	padding: 80px 35px;
}

h1 > div {
	opacity:0;
	padding: 0px 7px 0px 27px;
}

h2 {
	width:80%;
	margin-top:120px;
}

main > section:nth-child(2) > .container {
	background-color: black;
}

.navbar-brand {
	padding: 0;
}

.navbar {
	background-color: black;
}

.nav-item > .nav-link {
    font-size: 1.5em;
    color: white;
}

.banner-left {
	position:relative;
	background: url(../img/banner-main-left.jpg) fixed;
    min-height: 400px;
    max-width: 2000px;
}

.container {
    max-width: 100%;
    margin:0; 
}

.container > .row > div {
	font-size: 1.5rem;
}

.carousel-item > p {
	background-color: $blue;
}

.col-lg-5 > .container {
	opacity: 0;
}

.carousel-inner >.carousel-item:nth-child(1) > p {
	width:100%;
}

.carousel-inner >.carousel-item:nth-child(2) > p {
	width:85%;
}

.carousel-inner >.carousel-item:nth-child(3) > p {
	width:80%;
}

.carousel-inner >.carousel-item:nth-child(4) > p {
	width:50%;
}

.carousel-inner >.carousel-item:nth-child(5) > p {
	width:80%;
}

.carousel-inner >.carousel-item:nth-child(6) > p {
	width:75%;
}

.carousel-item > p:nth-child {
	background-color: $blue;
}

.carousel {
	.carousel-item {
		img {
		border: 200px solid black;
		border-top:15px solid black;
		}
	}
}

.carousel-indicators li {
	text-align: center;
    width: 200px;
    text-indent: 0px;
    color:white;
}

.showme {
	opacity:0;
}

.form {
    width: 80%;
}

.form-control {
	border-radius:0px;
	border: 1px solid rgba(0, 0, 0, 0);
}

form > .btn,
form > .btn:hover {
    border-radius: 0px;
    border: none;
    font-size: 1.5em;
}

footer > div:nth-child(1) {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

footer p > a {
	color:gray;
	font-size:0.5em;
}

.fa-chevron-circle-up,
.fa-bars {
    color: white;
}

#link-to-menu {
	display:none;
}



/* === widok na XS i SM device === */
@media (max-width: 767px) {
	.carousel {
		.carousel-item {
			img {
			border: 84px solid black;
    		border-top: 15px solid black;
			}
		}
	}
	.carousel-indicators li {
	    text-indent: -999px;
}




}
